
              
<div class="col-lg-3">
    <div class="banner d-flex justify-content-center"><a href="{{path('homepage')}}"><img src="{{ asset('logo.png')}}" alt="ChewChew logo" class="img-fluid"></a></div>

    {% if app.user %}
    <div class="card sidebar-menu mb-4">
        <div class="card-header {% if is_granted('ROLE_ADMIN') %}bg-dark text-white{% endif %} {% if is_granted('ROLE_RESTAURATEUR') %}bg-primary text-white{% endif %}">
        
        <h3 class="h4 card-title ">
            <img src="{{ vich_uploader_asset(app.user, 'imageFile') | imagine_filter('user_thumb') }}" alt="Photo of {{app.user.firstname}}" class="img-fluid rounded-circle border border-secondary">
            Hello {{app.user.firstname}} !
        </h3>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin') }}" class="text-warning"><i class="fas fa-door-open"></i> Administration</a>
        {% endif %}
        {% if is_granted('ROLE_RESTAURATEUR') %}
            <a href="{{ path('profile') }}" class="text-warning"><i class="fas fa-cogs"></i> Restaurant Manager</a>
        {% endif %}
        </div>
        <div class="card-body customer-section">
        <ul class="nav nav-pills flex-column">
            <a href="{{ path('cart_index') }}" class="nav-link nav-link-light {{ app.request.get('_route') == 'cart_index' ? 'active-light' : '' }}">
                <i class="fa fa-shopping-cart"></i>
                 My cart 
                {% if cart is not null %}
                    
                    {% set productNumber = 0 %}

                    {% for item in cart.orderHasProducts %}
                        {% set productNumber = productNumber + item.quantity %}
                    {% endfor %}
                        {% if productNumber != 0 %}
                            <span class="badge badge-warning ml-4">
                                {{ productNumber }}
                                {{ (productNumber <= 1) ? 'Item' : 'Items'}}
                            </span> 
                        {% endif %}
                {% endif %}
            </a>
            <a href="{{ path('order_index') }}" class="nav-link nav-link-light {{ app.request.get('_route') == 'order_index' ? 'active-light' : '' }}"><i class="fa fa-list"></i> My orders</a>
            <a href="customer-account.html" class="nav-link nav-link-light"><i class="fa fa-user"></i> My account</a>
            <a href="{{ path('app_logout') }}" class="nav-link nav-link-light"><i class="fa fa-sign-out"></i> Logout</a>
        </ul>
        </div>
    </div>
    {% else %}
    <div class="card sidebar-menu mb-4">
        <div class="card-header">
        <h3 class="h4 card-title">Sign in !</h3>
        </div>
        <div class="card-body customer-section">
        <ul class="nav nav-pills flex-column">
            <a href="{{ path('cart_index') }}" class="nav-link nav-link-light {{ app.request.get('_route') == 'cart_index' ? 'active-light' : '' }}">
                <i class="fa fa-shopping-cart"></i>
                 My cart 
                {% if cart is not null %}
                    {% set productNumber = 0 %}

                    <span class="badge badge-warning ml-4">
                    {% for item in cart.orderHasProducts %}
                        {% set productNumber = productNumber + item.quantity %}
                    {% endfor %}

                        {{ productNumber }}
                        {{ (productNumber <= 1) ? 'Item' : 'Items'}} 
                    </span>
                {% else %}
                    <span class="badge badge-warning ml-4">Empty</span>
                {% endif %}
            </a>
            <a href="{{ path('app_login') }}" class="nav-link nav-link-light {{ app.request.get('_route') == 'app_login' ? 'active-light' : '' }}"><i class="fa fa-user"></i> Login</a>
        </ul>
        </div>
    </div>
    {% endif %}

    <div class="card sidebar-menu mb-4">
    <div class="card-header">
        <h3 class="h4 card-title">Categories</h3>
    </div>
    <div class="card-body p-0">
        <ul class="nav nav-pills flex-column m-0">
        <li>
            <a href="{{ path('homepage') }}" class="nav-link nav-link-light d-flex flew-row justify-content-between {{ app.request.get('_route') == 'homepage' ? 'active-light' : '' }}">
                All
                <span class="badge badge-secondary">
                    {{ restaurantNumber() }} 
                </span>
            </a>
            {% for category in categories() %}
                <a href="{{ path('homepage_category', {'slug' : category.slug}) }}" class="nav-link nav-link-light d-flex flew-row justify-content-between {{ (app.request.get('_route') == 'homepage_category' and app.request.attributes.get('_route_params')['slug'] == category.slug ) ? 'active-light' : '' }}">
                    {{ category.name }} 
                    <span class="badge badge-secondary">
                     {{ category.restaurants|length }} 
                    </span>
                </a>
            {% endfor %}
        </li>
        </ul>
    </div>
    </div>

    {# <div class="card sidebar-menu mb-4">
    <div class="card-header">
        <h3 class="h4 card-title">Brands <a href="#" class="btn btn-sm btn-danger pull-right"><i class="fa fa-times-circle"></i> Clear</a></h3>
    </div>
    <div class="card-body">
        <form>
        <div class="form-group">
            <div class="checkbox">
            <label>
                <input type="checkbox"> Armani  (10)
            </label>
            </div>
            <div class="checkbox">
            <label>
                <input type="checkbox"> Versace  (12)
            </label>
            </div>
            <div class="checkbox">
            <label>
                <input type="checkbox"> Carlo Bruni  (15)
            </label>
            </div>
            <div class="checkbox">
            <label>
                <input type="checkbox"> Jack Honey  (14)
            </label>
            </div>
        </div>
        <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>
        </form>
    </div>
    </div> #}

    {# <div class="card sidebar-menu mb-4">
    <div class="card-header">
        <h3 class="h4 card-title">Colours <a href="#" class="btn btn-sm btn-danger pull-right"><i class="fa fa-times-circle"></i> Clear</a></h3>
    </div>
    <div class="card-body">
        <form>
        <div class="form-group">
            <div class="checkbox">
            <label>
                <input type="checkbox"><span class="colour white"></span> White (14)
            </label>
            </div>
            <div class="checkbox">
            <label>
                <input type="checkbox"><span class="colour blue"></span> Blue (10)
            </label>
            </div>
            <div class="checkbox">
            <label>
                <input type="checkbox"><span class="colour green"></span>  Green (20)
            </label>
            </div>
            <div class="checkbox">
            <label>
                <input type="checkbox"><span class="colour yellow"></span>  Yellow (13)
            </label>
            </div>
            <div class="checkbox">
            <label>
                <input type="checkbox"><span class="colour red"></span>  Red (10)
            </label>
            </div>
        </div>
        <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>
        </form>
    </div>
    </div> #}

    <!-- *** MENUS AND FILTERS END ***-->

    {# <div class="banner"><a href="#"><img src="{{ asset('img/banner.jpg')}}" alt="sales 2014" class="img-fluid"></a></div> #}
</div>