{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Hello {{app.user.firstname}} {{app.user.lastname}}{% endblock %}

{% block page_content %}
    {% include '@EasyAdmin/flash_messages.html.twig' %}

    <div>
        {# {% for order in lastOrders %}
            <div class="card mb-2">
                <div class="card-header p-1 pl-4">
                    <span># {{ order.id }}</span>
                </div>
                <div class="card-body d-flex flex-row">
                    <div class="col-6">
                        <blockquote class="blockquote mb-0">
                            <p><strong>{{order.user.firstname}} {{order.user.lastname}}</strong> ordered from <strong>{{order.restaurant.name}}</strong></p>
                            <p>Total: <strong>{{order.total/100}} €</strong></p>
                        </blockquote>
                    </div>
                    <div class="col-6">
                        {% for product in order.orderHasProducts %}
                            <div>{{product.quantity}} x {{ product.products.name }} <em>({{product.products.price/100}}€)</em> -> {{product.products.price * product.quantity / 100}}€</div>
                        {% endfor %}
                    </div>
                    </div>
                <div class="card-footer">
                    <small class="text-muted">Order on {{order.createdAt|format_datetime('full')}}</small>
                </div>
            </div>
        {% endfor %} #}
    </div>
{% endblock %}
