{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{product.name}}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div id="blog-post" class="col-lg-9">
<div class="box mt-5">
    <div id="post-content">
    <p class="text-center"><img src="{{ vich_uploader_asset(product, 'imageFile') | imagine_filter('product_detail') }}" alt="Photo of {{product.name}}" class="img-fluid"></p>
    <a href="{{ path('restaurant_index', {'slug' : product.restaurant.slug}) }}"><i class="fa fa-arrow-left mb-4"></i> Back to {{product.restaurant.name}} </a>
    <h2 class="mb-4">{{product.name|capitalize}}</h2>
<h3 class="mb-4"><strong>{{product.price/100}} €</strong></h3>
    <blockquote class="blockquote mb-2">
    <p>{{product.description}}</p>
    </blockquote>
    <div class="text-muted text-small d-flex flex-column flex-lg-row">
    <div class="col-12 col-lg-6">
        <h5>Ingredients:</h5>
        <ul>
            <li><small>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</small></li>
            <li><small>Aliquam tincidunt mauris eu risus.</small></li>
        </ul>
    </div>
    <div class="col-12 col-lg-6">
        <h5>Allergens:</h5>
        <ul>
            <li><small>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</small></li>
            <li><small>Aliquam tincidunt mauris eu risus.</small></li>
        </ul>
    </div>
    </div>
</div>
<!-- /#post-content-->
{{ form_start(form, {'attr': {'class': ''}}) }}
    <div class="form-group d-flex flex-row align-items-center">
        {{ form_label(form.quantity) }}
        {{ form_widget(form.quantity, {
            'attr': {
                'class': 'form-control ' ~ (form.quantity.vars.valid ? '' : 'is-invalid') ~ ' col-2 ml-2'
            }
        }) }}
        <div class="invalid-feedback">
            {{ form_errors(form.quantity) }}
        </div>
    </div>
    
    {% if  cart() is not null and  cartRestaurantId is not null and cartRestaurantId != product.restaurant.id %}
        <button type="button" class="btn btn-warning w-25" data-toggle="modal" data-target="#changeRestaurantModal">Add</button>
        
        <!-- Modal -->
        <div class="modal fade" id="changeRestaurantModal" tabindex="-1" role="dialog" aria-labelledby="changeRestaurantModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header bg-warning">
                    <h5 class="modal-title" id="changeRestaurantModalLabel"><i class="fa fa-warning"></i> Be advised</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    You were ordering from <b>{{ cartRestaurant().name }}</b>.</br>
                    </br>
                    You are about to switch to <b>{{ product.restaurant.name }}</b>.</br>
                    </br>
                    You can however add <em>{{ product.name }}</em> to your cart but this action will <b class="text-danger">delete</b> you previous Cart.
                </div>
                <div class="modal-footer d-flex flew-row justify-content-between">
                    {{ form_widget(form.add, {'attr': {'class': 'btn btn-primary'}, 'label' : 'Add in a new Cart'}) }}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>
    {% else %}
        {{ form_widget(form.add, {'attr': {'class': 'btn btn-primary w-25'}}) }}
    {% endif %}

{{ form_end(form) }}

</div>

{% endblock %}
